{% extends 'base.html' %}
{% block title %}投票详情页{% endblock %}
{% block content %}
         <form action="{% url 'vote' question_id=question.id %}" method="post">
        <p>{{question.question_text}}</p>
        {% for c in question.choice_set.all %}
            <label>
                <input type="radio" name="c.id" value="{{c.id}}">{{c.choice_text}}
            </label>
        {% endfor %}
        <input type="submit" value="提交">
    </form>
    <a href="{% url 'index' %}">返回首页</a>
{% endblock %}

