{% extends 'base.html' %}
{% block title %}aaa主页{% endblock %}
{% block content %}
     <ul>
        {% for q in question %}
           <!--<li><a href="http://127.0.0.1/aaa/{{q.id}}">{{q.question_text}}</a>{{q.publish_date}}</li>-->
            <li><a href="{% url 'detail' question_id=q.id %}">{{q.question_text}}</a>{{q.publish_date}}</li>
        {% endfor %}
    </ul>
{% endblock %}