body{
    background: silver;
    color:blue;
}
hr{
    height:1px;
    background-color:red;
}
p{
    color: green;
}
.myclass{
    color: red;
}
.b2{
    background: orange;
}
/*p.important表示p标签有个class属性，名字是importnamt*/
p.important{
    font-weight: bold;
}
/*h2,.warning表示h2标签和warning类*/
h2,.warning{
    color: brown;
}
/*p. new 表示p标签中的内容有个元素，属于new类*/
p .new{
    color: purple;
}
#myid{
    color: #8F4040;
}