.container{
    width: 800px;
    margin: 0 auto;
}
.header{
    /*width: 100px;*/
    /*background: gray;*/
    height: 500px;
    background-image: url("img/aaa.jpg");
    background-size: 100%;
}
.left{
    width: 200px;
    height: 300px;
    background: cadetblue;
    float: left;
}
.middle{
    /*width: 200px;*/
    height: 300px;
    background: #8F4040;
    /*margin-left: 200px;*/
}
.right{
    width: 200px;
    height: 300px;
    background: darkgoldenrod;
    float: right;
    /*margin-left: 400px;*/
}
.footer{
    text-align: center;
    height: 50px;
    background: gray;
    line-height: 50px;
}