.container{
    width: 800px;
    margin: 0 auto;
}
.header{
    width: 100px;
    background: gray;
}
.left{
    width: 600px;
    height: 400px;
    background: purple;
    float: left;
}
.right{
    width: 200px;
    height: 400px;
    background: darkgoldenrod;
    /*float: right;*/
    margin-left: 600px;
}
.footer{
    text-align: center;
    height: 50px;
    background: gray;
}