{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .banner{
            background-image: url("{% static 'imgs/banner.png' %}");
            background-size: 100%;
            height: 380px;
        }
    </style>
</head>
<body>
<div class="container h3">
    <div class="banner"></div>
    <div class="main">{% block content %}{% endblock %}</div>
    <div class="footer text-center">
        <a href="https://blog.csdn.net/qq_37339132">linux学院</a>  客服电话：400-111-1111 邮箱：a576860507@qq.com
    </div>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>